
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// author: Joy Jingco
// date:10/30/2018

$blue: #32aae1;
$white: white;
$bodyGrey: #eeee;


.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: $bodyGrey;
  height: 100vh;
}
.navigation-pane{
  background-color: $blue;
  line-height: 20px;
  height: 75px;
  font-weight: bold;
  color: $white;
  padding-left: 25px;
}
.logo img {
  vertical-align: middle;
}
span {
  height: 55px;
  width: 60px;
  background-color: $white;
  padding: 5px 15px;
}
span i {
  color: rgb(31, 31, 31);
  font-size: 12px;
  padding-right: 15px;
}
span input {
  background-color: $white;
  color: $white;
  border: 0;
}
#searchBox {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.menu-option {
  padding: 25px 15px 0px 15px;
  font-size: 14px;
}
.menu-option a {
  color: $white;
  padding: 0px 15px;
}

.secondary-navigation{
  background-color: $white;
  height: 45px;
  padding: 5px;
  margin-bottom: 25px;
  padding-left: 25px;
}
.secondary-option, .home-icon {
  padding: 15px;
  font-size: 12px;
}
.home-icon a {
  color: black;
}

.hilarious {
  margin-left: 15px;
}
.tertiary-option {
  border: 1px solid #cccccc;
  padding: 6px 3px;
  font-size: 14px;
  background-color: $white;
}
.news-feed {
  width: 650px;
  background-color: $white;
  margin-top: 10px;
}
.small-logo {
  font-size: 25px;
  color: #747474;
  font-weight: bold;
  margin-left: 30px;
}
.story, .comment {
  padding: 5px 20px;
  margin: 15px 0;
}
.disagree-votes, .agree-votes, .disagree-votes-nearly {
  width: 60px;
  height: 50px;
  background-color: #cccccc;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
.agree-btn{
  background-color: $blue;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  margin-right: 5px;
  margin-left: 40px;
}
.disagree-btn-nearly {
  background-color: #0f5a88;
  padding: 10px 45px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  margin-right: 5px;
}
.disagree-btn {
  background-color: #0f5a88;
  padding: 10px 44px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  margin-right: 5px;
  margin-left: 50px;
}
.bottom-pane {
  width: 560px;
  margin-left: 5px;
  padding: 11px;
  margin-bottom: 20px;
}
.emoji {
  margin-left: 10px;
}
.social-media {
  margin-top: 10px;
}

.dialogue-box {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 3.75px;
  margin-left: 3.75px;
  padding: 1px 5px;
  position: relative;
  background-color: #fff;
  color: #333;
}

.title1 {
  background-color: $blue;
  color: $white;
  padding: 5px 25px;
  font-size: 25px;
  width:400px;
}
.Nearly-FML {
  margin-left: 30px;
  background-color:$white;
  width: 400px;
}
.side-feed {
  width: 350px;
}
.social-media {
  margin-right: 15px;
}
.social-media-icons {
  margin-left: 500px;
}
hr {
  border: 5px solid $bodyGrey;
}
.disagree-btn-nearly{
  margin-left: 40px;
  margin-top: 10px;
}
.disagree-votes-nearly {
  margin-top: 10px;
}
.user-profile {
  width: 30%;
}
.user-profile h1 {
  font-weight: bold;
}
.submit-button {
  color: $white;
  background-color: $blue;
  font-weight: bold;
}
.submit-button:hover {
  background-color: rgb(0, 184, 184);
}
.user-submission {
  width: 50%;
}
.authors {
  background-color:#ccc;
  width: 400px;
  margin-top: 20px;
  margin-bottom: -15px;
  text-align: center;
}

.authors a{
  color: black;
}
.author-pane {
  background-color:#ccc;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: -15px;
  width: 650px;
}

.user-submit {
  width:50%;
}