
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$bgColor: #e6ecf0;


body {
  background-color: white;
}

main {
  background-color: $bgColor;
}
.stats {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 3px;
  font-weight: bold;
  color: #66757f;
  font-size: 18px;
}
.tweet-section {
  background-color: white;
  margin: 10px 25px 0 25px;
  padding: 10px 200px 0 0;
  color: red;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
}
.profile-name {
  font-size: 2em;
  font-weight: bold;
}
.twitter-name {
  color: grey;
}
.tweet-option {
  padding: 0 30px;
}
.flex {
  display: flex;
}
.flex-h {
  flex-direction: row;
}
.flex-v {
  flex-direction:column;
}
.flex-1 {
  flex: 1;
}
.full-page {
  height: 100vh;

}
.stat-sections {
  margin: 5px 10px;
  
}
.website {
  color: blue;
}
.joined, i {
  color: grey;
}
.hero-row {
  height: 350px;
  background-image: url('https://pbs.twimg.com/profile_banners/158331222/1528372321/1500x500');
  background-position: 50% 50%;
  background-size: cover;
}
li {
  list-style-type: none;
}
.user-details {
  padding: 22px;
  font-size: 13px;
  margin-left: 25px;
}

.button {
  border: solid 2px red;
  color: red;
  background-color: white;
  border-radius: 100px;
  padding: 6px 16px;
  margin-left: 70px;
  font-weight: bold;
}

.top-menu {
  padding: 10px 22px;
  font-weight: bold;
  color: #66757f;
  margin-left: 25px;
}
.home {
  margin-right: 30px;
}
.home i {
  color: #1da1f2;
}
.tweet-opt-1 {
  padding-left: 15px;
}
.circular {
  border-radius: 50%;
  border: solid 5px white; 
}
.profile-pic {
  z-index: 1;
  left: 0;
  margin-top: 250px;
  position: absolute;
  margin-left: 25px;
}
.suggestions {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
  font-size: 14px;
}
.youMayAlsoLike {
  font-weight: bold;
  font-size: 1.2em;
}
.name {
  font-weight: bold;
}
.tweeters {
  line-height: 1em;
  padding: 20px 5px;
}
.tweet-examples{
  margin-top: 2px;
  background-color: white;
  margin: 10px 25px 0 25px;
  padding: 10px;
  width: 600px;
}
.tweetInfo {
  padding: 15px 0 0 5px;
  width:100%;
}
.tweet-comment {
  background-color: red;
}
.bean-Name, 
.bean-Handle,
.tweet-Name,
.tweet-Date {
  padding: 0 5px;
}